go 1.23

use (
	pkg/utility/characterrepo
	pkg/utility/sequences
	pkg/utility/runer
	pkg/utility/hashinglib
	cmd/processhashes
	cmd/genseq
	cmd/isprime
	cmd/rencode
	cmd/generatebytearrays
	cmd/generateprimearrays
)