go 1.24

use (
	pkg/utility/conversion
	pkg/utility/characterrepo
	pkg/utility/sequences
	pkg/utility/runer
	pkg/utility/hashinglib
	pkg/internal/config
	pkg/liberdatabase
	pkg/utility/charindex
	pkg/utility/decoder
	pkg/utility/titler
	cmd/processhashes
	cmd/genseq
	cmd/isprime
	cmd/rencode
	cmd/generatebytearrays
	cmd/generateprimearrays
	cmd/stripperhashes
	cmd/libergo
	cmd/factorize
	cmd/intgen
	cmd/gemsum
	cmd/getwords
	cmd/indexdirectory
	cmd/decode64
)