go 1.24

use (
	pkg/utility/conversion
	pkg/utility/characterrepo
	pkg/utility/sequences
	pkg/utility/runer
	pkg/utility/hashinglib
	pkg/internal/config
	pkg/liberdatabase
	pkg/utility/decoder
	pkg/utility/titler
	pkg/utility/cipher
	pkg/lgstructs
	cmd/genseq
	cmd/isprime
	cmd/rencode
	cmd/libergo
	cmd/factorize
	cmd/intgen
	cmd/gemsum
	cmd/gemproduct
	cmd/decode64
	cmd/binstring
	cmd/binfile
	cmd/binvert
	cmd/base60
	cmd/numfile
	cmd/numstring
	cmd/coller
	cmd/dpattern
	cmd/rdtext
	cmd/corpuslist
	cmd/runedonkey
	cmd/cipherval
	cmd/mob
	cmd/calrunestats
	cmd/checkhashes
	cmd/ipaddressgen
	cmd/checkmultihash
	cmd/winchafftext
	pkg/utility/ioc
	cmd/calcioc
	cmd/primeaddressgen
	cmd/detangle
	cmd/ziggy
	cmd/railit
	cmd/wordlecheat
	cmd/hex2bytearray
	cmd/permute
	cmd/hex2int
	cmd/byte2int
	cmd/byte2bin
	cmd/byte2binstring
	cmd/fanalysis
	cmd/primedb
	cmd/invgoldbach
	pkg/utility/numeric
	cmd/rdcheck
	cmd/bin2rune
	cmd/rune2bin
	cmd/linxtract
	cmd/buildlingdb
	cmd/repeata
	cmd/delexify
	cmd/schwifty
	cmd/kasiski
	cmd/querytool
	cmd/runesub
)